  @import "../assets/scss/abstracts/_mixins";
  @import "../assets/scss/abstracts/_fonts";

  //購物籃
  .chart {
    height: 35%;

    &__title {
      display: none;
    }

    &__goods-list {
      //  購物籃中的物品列表與物品中間保留空間
      padding: 1.25em 1em 1em 1em;

      &__item {
        min-height: 102px;
        margin-bottom: 1em;
        display: flex;

        img {
          width: 100px;
        }

        &__content {


          flex: 1;
          text-align: end;
          position: relative;

          .flex-wrapper {

            height: calc(100% - 20px);
            color: var(--gray-title);
            font-size: 1rem;

            .good-name {
              line-height: 1.5rem;
            }

            .good-count {
              float: right;
              margin-top: 1em;
              width: 50%;
              max-width: 150px;

              @include display-setting(flex, space-around, center);
              height: 27px;
              line-height: 27px;
              text-align: center;

              .good-minus,
              .good-plus {
                width: 20%;
                min-width: fit-content;
                background-color: #e6e6eb;
                border-radius: 50%;
                color: var(--dark);
                cursor: pointer;
              }
            }
          }

          .good-price {
            height: 1.5rem;
            @include font-setting(null, 700, var(--emphasize));
          }
        }
      }
    }

    .amount-wrapper {

      .amount {
        margin: 1em;
      }
    }

    @include desktop {
      padding: 2em 1.5em;
      flex: 0 1 40%;

      &__title {
        display: block;
        margin-bottom: 2em;
        @include font-setting(18px, 700, var(--gray-title));
      }

      &__goods-list {
        padding: 0;

      }

      .amount-wrapper {
        margin-top: 2em;

        .amount {
          margin: 1em 1em 2em 1em;
        }
      }

    }
  }